{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-parens": ["error", "as-needed"],
    "no-unused-expressions": ["error", { "allowTernary": true }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
